.font-primary {
  color: #3803A1 !important;
}

.kt-header {
  background-image: linear-gradient(30deg, #1892C7, #3803A1);
}

.kt-header .kt-header__brand-logo a {
  height: 50px;
}

.kt-header .kt-header__brand-logo a img {
  height: 100%;
}

.kt-header .kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--user .kt-header__topbar-welcome {
  color: #fff;
}

.kt-header .kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--langs .dropdown-menu .kt-nav__link-icon img {
  height: 18px;
  width: 18px;
}

.kt-header .kt-header__topbar .kt-header__topbar-item.kt-header__topbar-item--langs .kt-header__topbar-icon img {
  height: 22px;
  width: 22px;
}

.kt-grid.kt-grid--ver:not(.kt-grid--desktop):not(.kt-grid--desktop-and-tablet):not(.kt-grid--tablet):not(.kt-grid--tablet-and-mobile):not(.kt-grid--mobile) > .kt-grid__item {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}

